html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: linear-gradient(#000000, #111111);
}

.bodyMain {
   position: absolute;
   background-color: #000000;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
}

.headerMenu .Home-btn {
   position: absolute;
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   width: auto; /* 이미지 크기에 맞게 자동으로 조정됨 */
   z-index: 9999;
}

.title {
   width: 100%; /* 컨테이너의 너비를 화면 전체로 설정 */
   position: absolute; /* 화면 아래에 고정시킵니다. */
   text-align: center; /* 내부 텍스트를 가운데 정렬합니다. */
   padding: 20px; /* 내부 여백 설정 (예시) */
   box-sizing: border-box; /* 패딩이 포함된 전체 너비/높이 계산 */
   color: #ffffff;
   font-size: 50px;
   font-weight: bold;
   z-index: 9999;
}

.headerMenu .logo {
   width: 120px; /* 이미지가 버튼 내에서 꽉 차도록 설정 */
   height: auto; /* 이미지의 가로 세로 비율을 유지하면서 버튼에 맞게 조정 */
}

.facebook {
   width: 20px;
   height: 30px;
   z-index: 9999;
}

.youtube {
   width: 30px;
   height: 20px;
   z-index: 9999;
}

.instagram {
   width: 30px;
   height: 30px;
   z-index: 9999;
}

#menu-container {
   position: relative;
   z-index: 9999;
}

#menuButton {
   cursor: pointer;
   position: absolute;
   top: 25px;
   right: 30px; /* 오른쪽으로 이동 */
   display: flex;
   width: 50px;
   height: 50px;
   z-index: 9999;
}

#icon-container {
   position: absolute;
   top: 110px;
   right: 40px;
   display: flex;
   flex-direction: column; /* 세로 방향으로 아이콘을 나열 */
   align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
   gap: 15px; /* 아이콘 사이의 간격 설정 */
   z-index: 9998;
}

#rectangle {
   /* 처음엔 숨겨져 있음 */
   position: absolute;
   top: 110px; /* toggleButton 바로 아래 위치 */
   right: 30px; /* menuButton과 같게 */
   width: 10.5%;
   min-height: 200px;
   color: black;
   background-color: black;
   display: none;
   border: 2px solid white;
   background-color: black;
   z-index: 9999;
}

#rectangle button {
   cursor: pointer;
   background-color: black;
   border: none;
   padding: 0.5em 0.5em; /* 위아래 0.5em, 좌우 1em으로 설정하여 버튼 크기를 내용에 맞게 조정 */
   color: white;
   font-size: 23px;
   gap: 15px;
}

#rectangle p {
   color: white;
   text-align: left;
   font-size: 24px;
   text-decoration: underline; /* 밑줄 */
   margin: 0px;
}

.smallWord {
   color: white;
   margin: 10px;
}

#icon-container2 {
   position: relative;
   right: -30px;
   display: flex;
   margin-bottom: 30px;
   flex-direction: row; /* 가로 방향으로 아이콘을 나열 */
   align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
   gap: 15px; /* 아이콘 사이의 간격 설정 */
   z-index: 9998;
}




.detail-title {
   position: absolute;
   top: 100px; /* 적절한 위치로 조정 */
   width: 100%;
   padding: 5px 0;
   left: 200px; 
   text-align : start;
   z-index: 999;
   text-align: start;
}
.h2title{
		color : white;
	font-weight: bold;
	font-size: 30px;
}
.detail-content {
   position: absolute;
   top: 270px; /* 적절한 위치로 조정 */
   width: 100%;
   padding: 10px 0;
   left: 200px;
   text-align: start;
   color: white;
   z-index: 999;
}

.author {
   color: white;
   border-top: 1px solid;
   border-bottom: 1px solid;
   padding: 10px 0;
   width: 78%;
      white-space: pre-wrap; /* 내용의 공백 및 줄바꿈 유지 */
    word-wrap: break-word; /* 긴 단어를 줄바꿈하여 처리 */
}


#upbtn {
   margin-left : 0;
}

.FAQandBtn{
	margin-left:0;
	
}

.btn-area{
	display : flex;
	gap: 20px;
	
}


.btn-write1 form button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-left: 100px;
  margin-top: 10px;
  margin: 20px 5px; /* 좌우 여백을 조절 */
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
}

.btn-write1 form button:hover {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

.btn-write1 form button span {
  position: absolute;
  display: block;
}

.btn-write1 form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.btn-write1 form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.btn-write1 form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.btn-write1 form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.btn-write1 a button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-left: 100px;
  margin-top: 10px;
  margin: 20px 5px; /* 좌우 여백을 조절 */
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
}

.btn-write1 a button:hover {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

.btn-write1 a button span {
  position: absolute;
  display: block;
}

.btn-write1 a button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.btn-write1 a button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.btn-write1 a button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.btn-write1 a button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.comment form button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-left: 100px;
  margin-top: 10px;
  margin: 20px 5px; /* 좌우 여백을 조절 */
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
}

.comment form button:hover {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

.comment form button span {
  position: absolute;
  display: block;
}

.comment form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.comment form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.comment form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.comment form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.comment {
   color: white;
   
   top: 35px; /* 적절한 위치로 조정 */
   z-index: 999;
}

.cmtInput{
	 border-bottom: 2px solid #adadad;
  margin: 20px;
  padding: 10px 10px;
  width: 75%;
}

.cmtText{
	 width: 100%;
  border:none;
  outline:none;
  color: #ffffff;
  font-size:16px;
  height:25px;
  background: none;
	
}
.h4Cmt{
	color : white;
	font-weight: bold;
	font-size: 30px;
}
.h2FAQ{
	color : white;
	font-weight: bold;
	font-size: 60px;
}
#author{
	width:78%;
	font-size: 18px;
	 border-top: 1px solid;
	 font-weight: bold;
	  
}
#cContents {
	width:78%;
   font-size: 18px;
	font-weight: bold;    
   border-bottom: 1px solid;
}