instructors.css : 

@charset "UTF-8";

html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: linear-gradient(#000000, #111111);
}

.bodyMain {
   position: absolute;
   background-color: #000000;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
}

.demitasse{
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 100%;
    z-index: 9;
    object-fit: cover;
    opacity: 0.5; /* 0부터 1까지의 값으로 투명도를 지정합니다. 0은 완전 투명, 1은 완전 불투명입니다. */   
}

.title {
   width: 100%; /* 컨테이너의 너비를 화면 전체로 설정 */
   position: fixed; /* 화면 아래에 고정시킵니다. */
   text-align: center; /* 내부 텍스트를 가운데 정렬합니다. */
   padding: 20px; /* 내부 여백 설정 (예시) */
   box-sizing: border-box; /* 패딩이 포함된 전체 너비/높이 계산 */
   color: #ffffff;
   font-size: 50px;
   font-weight: bold;
   z-index: 9995;
}

.middle-part {
   width: 100%; /* 컨테이너의 너비를 화면 전체로 설정 */
   position: fixed; /* 화면 아래에 고정시킵니다. */
   text-align: left; /* 내부 텍스트를 가운데 정렬합니다. */
   padding: 20px; /* 내부 여백 설정 (예시) */
   box-sizing: border-box; /* 패딩이 포함된 전체 너비/높이 계산 */
   color: #ffffff;
   font-size: 70px;
   font-weight: bold;
   margin: 5%;
   z-index: 9995;
}

.headerMenu .Home-btn {
   position: absolute;
   background: none;
   border: none;
   margin: 1%;
   cursor: pointer;
   width: auto; /* 이미지 크기에 맞게 자동으로 조정됨 */
   z-index: 9995;
   cursor: pointer;
}

.headerMenu .logo {
   width: 100px; /* 이미지가 버튼 내에서 꽉 차도록 설정 */
   height: auto; /* 이미지의 가로 세로 비율을 유지하면서 버튼에 맞게 조정 */
}

.facebook {
   width: 20px;
   height: 30px;
   z-index: 9999;
}

.youtube {
   width: 30px;
   height: 20px;
   z-index: 9999;
}

.instagram {
   width: 30px;
   height: 30px;
   z-index: 9999;
}

#menu-container {
   position: relative;
   z-index: 9999;
}

#menuButton {
   cursor: pointer;
   position: absolute;
   top: 25px;
   right: 30px; /* 오른쪽으로 이동 */
   display: flex;
   width: 50px;
   height: 50px;
   z-index: 9999;
}

#icon-container {
   position: absolute;
   top: 110px;
   right: 40px;
   display: flex;
   flex-direction: column; /* 세로 방향으로 아이콘을 나열 */
   align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
   gap: 15px; /* 아이콘 사이의 간격 설정 */
   z-index: 9998;
}

#rectangle {
   /* 처음엔 숨겨져 있음 */
   position: absolute;
   top: 110px; /* toggleButton 바로 아래 위치 */
   right: 30px; /* menuButton과 같게 */
   width: 10.5%;
   min-height: 200px;
   color: black;
   background-color: black;
   display: none;
   border: 2px solid white;
   background-color: black;
   z-index: 9999;
}

#rectangle button {
   cursor: pointer;
   background-color: black;
   border: none;
   padding: 0.5em 0.5em; /* 위아래 0.5em, 좌우 1em으로 설정하여 버튼 크기를 내용에 맞게 조정 */
   color: white;
   font-size: 23px;
   gap: 15px;
}

#rectangle p {
   color: white;
   text-align: left;
   font-size: 24px;
   text-decoration: underline; /* 밑줄 */
   margin: 0px;
}

.smallWord {
   color: white;
   margin: 10px;
}

#icon-container2 {
   position: relative;
   right: -30px;
   display: flex;
   margin-bottom: 30px;
   flex-direction: row; /* 가로 방향으로 아이콘을 나열 */
   align-items: center; /* 아이콘을 수직 중앙으로 정렬 */
   gap: 15px; /* 아이콘 사이의 간격 설정 */
   z-index: 9998;
}

.instructor-container {
   width: 100%;
   position: fixed;
   bottom: 0;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   box-sizing: border-box;
   z-index: 9995;
}

.instructor-container img {
   position: relative;
   width: 300px;
   height: 300px;
   z-index: 9995;
}

.instructor-container .instructor1 {
   position: relative;
   z-index: 9995;
}

.instructor-container .instructor1 .overlay {
   z-index: 9995; 
   position: absolute;
   width: 300px;
   height: 260px;
   background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은색 배경 */
   border: none;
   top: 0;
   left: 0;
   color: white; /* 텍스트 색상 */
   font-size: 16px; /* 텍스트 크기 */
   text-align: left; /* 텍스트 가운데 정렬 */
   padding-top: 40px; /* 텍스트가 상자 내부에 가운데 위치하도록 위쪽 패딩 추가 */
   visibility: hidden; /* 초기에는 숨김 */
}

.instructor-container .instructor1 button {
   background: none;
   border: none;
   cursor: pointer;
}

.instructor-container .instructor1:hover .overlay {
  visibility: visible; /* 마우스 오버시 보이도록 설정 */
  z-index: 9995;
}

.instructor-container .instructor2 {
   z-index: 9995;
   position: relative;
}

.instructor-container .instructor2 .overlay {
   z-index: 9995; 
   position: absolute;
   width: 300px;
   height: 260px;
   background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은색 배경 */
   border: none;
   top: 0;
   left: 0;
   color: white; /* 텍스트 색상 */
   font-size: 16px; /* 텍스트 크기 */
   text-align: left; /* 텍스트 가운데 정렬 */
   padding-top: 40px; /* 텍스트가 상자 내부에 가운데 위치하도록 위쪽 패딩 추가 */
   visibility: hidden; /* 초기에는 숨김 */
}

.instructor-container .instructor2:hover .overlay {
   z-index: 9995;
  visibility: visible; /* 마우스 오버시 보이도록 설정 */
}

.instructor-container .instructor3 {
   z-index: 9995;
   position: relative;
}

.instructor-container .instructor3 .overlay {
   z-index: 9995; 
   position: absolute;
   width: 300px;
   height: 260px;
   background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은색 배경 */
   border: none;
   top: 0;
   left: 0;
   color: white; /* 텍스트 색상 */
   font-size: 16px; /* 텍스트 크기 */
   text-align: left; /* 텍스트 가운데 정렬 */
   padding-top: 40px; /* 텍스트가 상자 내부에 가운데 위치하도록 위쪽 패딩 추가 */
   visibility: hidden; /* 초기에는 숨김 */
}

.instructor-container .instructor3:hover .overlay {
   z-index: 9995;
  visibility: visible; /* 마우스 오버시 보이도록 설정 */
}

// overlay width, height 수정
// .instructor1 button 추가
